.banner_header{
    background-image: url("../img/banner.jpg");
    background-position: top center;
    background-size: cover;
    height: 100%;
    position: relative;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
}

.banner-buy{
    width: 100%;
    display: inline-block;
    background-size: contain;
    box-sizing: border-box;
    float: left;
    position: relative;
}
.banner-img{
    width: 100%;
    height: auto;
}
.sobre{
    height: 450px;
    text-align: center;
    margin:auto;
    position: relative;
    background-image: url("../img/sobre.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}
.sobre:before{
    content: '';
    background: rgba(0,0,0,.57);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.sobre p{
    font-weight: normal;
    color: #ececec;
    font-size: 1.5em;
    text-shadow: 3px 0px 4px rgb(47, 47, 47);
    background-color: rgba(23, 20, 20, 0.1);
    text-align: justify;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    padding: 2%;
    z-index: 2;
    margin: 2% 10%;
    border-radius: 8px;
}
.contato form{
    padding: 10% 10%;
    box-sizing: border-box;
    position: relative;
}
.contato form label{
    margin-top: 20px;
    display: block;
}
.contato form label:first-child{
    margin-top: 0px;
}
.contato form label span{
    margin-bottom: 5px;
    display: block;
}
.contato form label input,
.contato form label textarea{
    width: 100%;
    clear: both;
}
.contato form label input{
    height: 22px
}
.contato form button{
    float: right;
    margin-top: 20px;
    width: 100%;
    height:50px;
}
@media (min-width: 730px)  {
    .banner-buy{
        width: 50%;
    }
    .banner-masc{
        padding-right: 5px;
    }
    .banner-fem{
        padding-left: 5px;
    }
    .contato form{
        padding: 0 10%;
        width: 50%;
        height: 420px;
    }
    .contato form:before{
        content: "";
        background: linear-gradient(rgba(0,0,0,0) 0,
                                    rgba(0,0,0,0.8) 30%,
                                    rgba(0,0,0,1) 60%,
                                    rgba(0,0,0,0.8) 70%,
                                    rgba(0,0,0,0) 100%);
        position: absolute;
        z-index: -2;
        left: 0;
        top: 0;
        right: -3px;
        width: 100.1%;
        height: 100%;
    }
    .contato form:after{
        content: "";
        background: #FFF;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}